.App {
  text-align: center;
}

.App {
  text-align: center;
}

.cuerpo {
  background-image: url('./imagenes/cesped.jpg');
  height: auto;
  width: auto;
}

.header {
  background-color:  rgb(187, 245, 187);
 }


.footer {
  position: fixed;
  bottom: 0px;
  background-color: rgb(187, 245, 187);
  width: 100%;
}


.buscador {
  margin: 10px;
}

.iconoh {
  margin: 16px;
  height: 16px;
  width: 16px;
}

.iconof {
  height: 16px;
  width: 16px;
}

.bandera {
  height: 400px;
  width:80%;
}

.logo {
  height: 100px;
  width: 40%
}
